* {
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.score {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.buttons {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.size {
  font-size: 100px;
  padding: auto;
  height: 150px;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#restart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
#rules {
  font-size: 50px;
  border: 1px solid black;
  height: auto;
  width: auto;
  background-color: #f1f1f1;
  text-align: center;
}
th,
td {
  border: 1px solid black;
}
td {
  width: 50%;
  text-align: center;
}
table {
  width: 300px;
}
#info {
  font-size: 50px;
}
#counter {
  font-size: 50px;
}
